{% extends "base.html" %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{ user.username }}</span><span class="text-black-50">{{ user.email }}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            {% include "common/profile/profile_tabs.html" %}
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div> 

                <div class="row mt-3">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {% if user == profile_user %}
                            <label for="subject" class="form-label">이름</label>            
                            <input type="text" class="form-control" name="name" id="name"
                            value="{{ profile_user.profile.name |default_if_none:'' }}">
                            {% endif %} 
                        </div>
                        <div class="mb-3">
                            {% if user == profile_user %}
                            <label for="subject" class="form-label">주소</label>        
                            <input type="text" class="form-control" name="address" id="address"
                            value="{{ profile_user.profile.address |default_if_none:'' }}">    
                            {% endif %} 
                        </div> 
                        <button type="submit" class="btn btn-primary">Save Profile</button>
                    </form>    
                </div>
                 
            </div>
        </div>
         
    </div>
</div>
</div>
</div> 
 

{% endblock %}